$payroll-text: #42515f;
$border-color: green;
$border-content: 0px solid;
$bg-color: #f5f5f5;

.header {
  padding: 15px 0;
  background-color: #ffffff;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: $border-content $border-color;
}

.logo-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: $border-content $border-color;
  width: 80%;
}

.logo-text-content {
  display: flex;
  flex-direction: column;
}

.logo-content-img {
  border: solid 0.2px $payroll-text;
}

.emp-text {
  font: normal normal bold 20px/25px Montserrat;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  color: #82a70c;
  text-transform: capitalize;
}

.emp-payroll {
  color: $payroll-text;
}
